* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;

}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font: 14px/20px Arial, sans-serif;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    height: 90px;
}

footer p {
    padding: 10px 10px 10px 0px;
}

header {
    height: 100px;
}

img.fork {
    position: absolute;
    top: 0;
    right: 0;
}

textarea {
    resize: none;
    height: 250px;
    width: 100%;
    border-radius: 5px;
}

.examples {
    padding: 10px 0px;
}

canvas {

/ TODO border: 1 px solid black;
/
}