body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
}

p {
  font-size: 16px;
}

hr {
  color: black;
  margin: 0;
  padding: 0;
}

footer{
   position: absolute;
   bottom: 0;
   text-align:center;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 80px;
}

.logo{
  width: 80%;
  float: left;
}

.col-md-6{
  margin-top: 70px;
}

.directed{
  font-size: 24px;
  margin-top: 20px;
}

textarea{
   resize: none;
   height: 250px;
   width: 100%;
   border-radius: 5px;
}
