* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font: 14px/20px Arial, sans-serif;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    height: 90px;
}

footer p {
    padding: 10px 10px 10px 0px;
}

header {
    height: 100px;
}

img.fork {
    position: absolute;
    top: 0;
    right: 0;
}

textarea {
    resize: none;
    height: 250px;
    width: 100%;
    border-radius: 5px;
}

.graph-source:focus{
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.examples {
    padding: 10px 0px;
}

canvas {
 border: 1px solid black;
}

legend {

}
#refresh,
#refresh:active,
#refresh:focus {
    outline: none;
}

input[type="radio"]{
    margin-left: 30px;
    margin-right: 6px;
}

#button-types label:first-child{
    margin-left: -30px;
}

#button-types label {
    font-size: 1.3em;
}

#button-types {
    margin-top: 5px;
}

#errors {
    margin-top: 10px;
    margin-bottom: 10px;
    font-color: red;
}


